@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
    if (HttpContext.Session.GetString("user") == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="text-center">
    @{ if (HttpContext.Session.GetString("user") == "admin")
        {
            @:  <h1 class="display-4">Witaj na stronie magazynu części zamiennych adminie!</h1>
        }
        else
        {
            @:  <h1 class="display-4">Witaj na stronie magazynu części zamiennych!</h1>
        }
    }
</div>
