@page
@using Microsoft.AspNetCore.Http;
@model SparePartsWarehouse.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
    if (HttpContext.Session.GetString("user") == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}
<form method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Username..." name="username" required />
    <br />
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Password..." name="password" required />
    <br/>
    <button type="submit">Login</button>
</form>
<button type="button" class="cancelbutton">Cancel</button>