@page
@model SparePartsWarehouse.OrdersModel
@{
    ViewData["Title"] = "Zamówienie";
}
<form action="OrderConfirmation" method="post">
    <div class="form-group">
        <label>Zamawiający:</label>
        <input type="text" asp-for="Purchaser" class="form-control" placeholder="Imię i nazwisko" />
        <span asp-validation-for="Purchaser" class="text-danger"></span>
    </div>
    <div id="container">
        <div id="ProductNode">
            <select id="selectNode" name="Product" asp-items="Model.Products">
                <option value="">-Wybierz produkt-</option>
            </select>
            <label>Ilość:</label>
            <input type="text" name="Quantity" class="form-control" asp-for="Quantity"/>
            <span asp-validation-for="Quantity" class="text-danger"></span>
            <br />
        </div>
    </div>
    <div>
        <button onclick="AddNewOrderItem()" type="button">+</button>
        <button onclick="RemoveOrderItem()" type="button">-</button><br /><br />
        <input type="submit" value="Zamów">
    </div>
</form>

@section scripts{
    <script>
        function AddNewOrderItem() {
            var container = document.getElementById("container");
            if (container.childElementCount < 10) {
                var node = document.getElementById("ProductNode");
                var item = node.cloneNode(true);
                container.appendChild(item);
            }
        }
        function RemoveOrderItem() {
            var container = document.getElementById("container")
            if (container.childElementCount > 1) {
                var lastNode = container.lastChild;
                lastNode.remove();
            }
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}