@page
@using Microsoft.AspNetCore.Http
@model OrderConfirmationModel
@attribute [IgnoreAntiforgeryToken]
@{
    ViewData["Title"] = "Potwierdzenie zamówienia";
    if (HttpContext.Session.GetString("user") == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<p>
    Witaj @Model.Purchaser! Twoje zamówienie zostało złożone!<br />
</p>
<div>
    Podsumowanie:<br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwa produktu
                </th>
                <th>
                    Zamówiona ilość
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductsList)
            {
                <tr>
                    <td>
                        @item.ProductName}
                    </td>
                    <td>
                        @item.Count.ToString("0")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>