@page

@using Microsoft.AspNetCore.Http;
@model ProductsModel

@{
    ViewData["Title"] = "Produkty";
    if (HttpContext.Session.GetString("user") == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<body>
    <form>
        <p>
            Znajdź produkt: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Szukaj" />
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nazwa produktu
                </th>
                @if (HttpContext.Session.GetString("user") == "admin")
                {
                    <th>
                        Części zamienne
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @item.ProductId.ToString("0")
                    </td>
                    <td>
                        @item.ProductName
                    </td>
                    @if (HttpContext.Session.GetString("user") == "admin")
                    {
                        <td>
                            @{string url = "/SpareParts/" + @item.ProductId.ToString("0");}
                            <a href=@url> Sprawdź części zamienne!</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
